$Font_Default_Color: rgb(255, 255, 255);
$Font_Hover_Color: #b30e60;
$Font_Active_Color : #04467c;

$Background_Container: rgb(14, 14, 14);
$Background_Container_Title: rgb(66, 43, 71);

$Button_Default_Color: #FF52A4;
$Button_Hover_Color:#882154;
$Button_Active_Color:#000726;

$Nav_Default_Color:#FFFFFF;
$Nav_Active_Color:#1591D7;