.main_404{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .home_link{
        background-color: darken($color: darkslategray, $amount: 10);
        border-radius: 15px;
        padding: 20px;

        text-decoration: none;
        color: $Font_Default_Color;
    }
}