.main-accueil{
    overflow-x: hidden;
    width: 100vw;
    .leCarousel{
        margin-top : 10%;
    }
    .wp-block-site-logo{
        display: flex;
        justify-content: center;
    }

    .description{
        position:relative;
        margin: 40px 0px;
        border-top: 4px solid $Button_Default_Color;
        border-bottom: 4px solid $Button_Default_Color;
        background-image: $Background_Container_Title;

        padding: 0px;
        text-align: center;
        width: 100vw;

        margin-bottom: 80px;
        div{

        
        p{
            width: 90vw;
            margin: 0px auto;
            margin-bottom: 10px;
            font-size: clamp(18px, 1.3vw, 50px);
        }
        p:first-of-type{
            padding-top: 20px;
        }
        .savoir_plus{
            transition: 0.3s;
            background-color: $Button_Default_Color;
            width: clamp(150px, 13vw, 400px);
            border-radius: 20px;
            padding: 5px 0px;

            transform: translateY(30px);
            a{
                text-decoration: none;
                color: white;
            }
        }
        .savoir_plus:hover{
            transform: scale(1.05) translateY(30px);
        }
        }
 
    }
    .container{
        display: none;
    }
    
    .title{
        display: none;
    }
    .container_carousel{
        display: flex;
        flex-direction: column;
        
        
        .container_img_caption{
            width: 100%;
            height: 10vh;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                height: 10vh;
                object-fit: cover;
                
                
            }

            p{
                z-index: 10;
                transform: translateY(-90px);
                text-align: center;

                color: white;  
                background-color: rgba(0, 0, 0, 0.774);
                border-top: 2px solid white;
                opacity: 80%;
                width: 100%;
                margin: 0px auto;
                padding: 50px 0px;

            }
        }
    }
    .bouton_carousel{
        display: none;
    }

.wp-block-cover__inner-container {   
    display: flex;
    justify-content: center;
    align-items: center; 
}

.wp-block-image {
    position: absolute;
}
.wp-block-image img {
    height: 100%;
    width: 100%;
    max-width: 776px;
}

@media only screen and (min-width : $media-width-tablette){
    
    body{
        width: 100vw;
        overflow-x: hidden;
    }
        
    .title{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .bouton_carousel{
        position: absolute;
        z-index: 2;
        height: clamp(350px, 25vw, 1000px);
        background-color: black;
        color: white;
        opacity: 0;
        border: none;
        opacity: 30%;
        display: contents;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bouton_carousel:hover{
        cursor: pointer;
        opacity: 80%;
            
        }
    .bouton_droite{
        right: 0%;
        transform: translateY(-100%);
    }
    .bouton_gauche{      
        left: 0%;

        }

    .container_carousel{
        overflow-y: hidden;
        width: 200vw;
        height: clamp(350px, 25vw, 1000px);
        transition: 1s;
        display: flex;
        flex-direction: row;
            .container_img_caption{
                width: 25vw;
                height: clamp(350px, 25vw, 1000px);
                overflow-y: hidden;
                overflow-x: hidden;
                border: 0px solid white;
                img{
                    width: calc(25vw);
                    height: clamp(350px, 25vw, 1000px);
                    border-top: none;
                }
    
                p{
                    z-index: 10;
                    transform: translateY(-35px);
                    text-align: center;
                    color: white;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.774);
                    width: 100%;
                    margin: 0px auto;
                }
            }
    
        }    
    }
}