.main-cours{

    .wp-block-site-logo{
        display: flex;
        justify-content: center;
    }

    figure{
        width: 300px;
        height: 300px;
        padding-bottom: 30px;
        img{
            width: 300px;
            height: 300px;
        }
    }

    .button{
        padding: 5px;
        background-color: black;
        color: white;
    }
    .button:active{
        background-color: rgb(48, 48, 48);
    }
}