//bruh
.main_about {
    display: flex;
    flex-direction: column;
    gap: 0px;
    h2{
        border-top: 4px solid rgb(192, 0, 106);
        border-bottom: 4px solid rgb(192, 0, 106);
        background-color: rgb(61, 38, 61);

        padding: clamp(15px, 2vh, 30px);
        text-align: center;
        
    }
    div{
        // padding: 0px 20px;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.411);
        display: flex;
        flex-direction: column;

        figure{
        margin: 0px;
        width: 100vw;
        height: 150px;

        img{
        margin: 0px;
        width: 100vw;
        height: 150px;
        }
        }
    }
    //class ajouté dans la data base
    .container_text{
        display: flex;
        flex-direction: column;
        text-align: center;

        p:first-of-type{
            color:rgb(192, 0, 106);
            font-size: clamp(15px, 5vw, 25px);
        }
    }
}

@media only screen and (min-device-width : $media-width-tablette){
    .main_about{
        gap: 70px;
        div{
            border-radius: 20px;
            width: 97%;
            background-color: rgb(12, 12, 12);
            display: flex;
            flex-direction: row;
            height: 400px;

            figure{
                border-radius: 20px;
                margin: 0px;
                width: 100vw;
                height: 370px;

                img{
                    border-radius: 20px;
                    margin: 0px;
                    width: 100vw;
                    height: 370px;
                }
            }
        }
        //class ajouter dans la data base
        .container_text{
            padding-left: 20px;
            text-align:left;
        }
        .container:nth-of-type(even){
            align-self: flex-end;
        }
    }
}