.main_projects {    
    display: flex;
    flex-direction: column;
    gap: 0px;
    h2{
        position:relative;
        margin-bottom: 40px;
        border-top: 4px solid $Button_Default_color;
        border-bottom: 4px solid $Button_Default_color;
        background-color: $Background_Container_Title;

        padding: clamp(15px, 2vh, 30px);
        text-align: center;

    }
    .group{
        div{
            display: flex;
            flex-direction: column;
            .container{
                margin-top: 0px;
                height: clamp(150px, 30vw, 200px);
                padding-bottom: clamp(200px, 12vw, 250px);
                
                figure{
                    display: flex;
                    align-items: center;
                    height: clamp(150px, 30vw, 200px);
                    border: 1px solid white;
                    width: 100vw;
                    height: 100%;
            
                    img{
                    object-fit: cover;
                    margin: 0px;
                    width: 100vw;
                    height: clamp(150px, 30vw, 200px);
                    }
            }
            }
            .container_text{
                position: absolute;
                height: clamp(150px, 30vw, 200px);
                width: 100vw;
                background-color: rgba(0, 0, 0, 0.397);
        
                h3{
                    text-align: center;
                    width: 40%;
                    margin: 0px auto;
                    padding-top: 80px;
                    font-size: clamp(18px, 5vw, 60px);
                }
                p{
                    display: none;
                    position:relative;
                    margin-top: clamp(30px, 15vw, 170px);
                    font-size: clamp(16px, 1.3vw, 50px);
                    text-align: center;
                    margin: clamp(30px, 13.5vw, 140px) auto 0px auto;
                    width: 90%;
                    padding: 0px 5%;
                }
                .bouton{
                    text-align: center;
                    z-index: 10;
                    position: absolute;
                    bottom: clamp(-5px, 4vw, 10px );
                    width: 100vw;
                }
            }
        }
        
    }
    


}