//bruh
.main_about {
    display: flex;
    flex-direction: column;
    gap: 0px;
    h2{
        border-top: 4px solid rgb(192, 0, 106);
        border-bottom: 4px solid rgb(192, 0, 106);
        background-color: rgb(61, 38, 61);

        padding: clamp(15px, 2vh, 30px);
        text-align: center;
        
    }
    div{
        // padding: 0px 20px;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.411);
        display: flex;
        flex-direction: column;

        figure{
        
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100%;

        img{
        margin: 0px;
        width: 100vw;
        height: 150px;
        }
        }
    }
    //class ajouté dans la data base
    .container_text{
        display: flex;
        flex-direction: column;
        text-align: center;

        p:first-of-type{
            color:rgb(192, 0, 106);
            font-size: clamp(15px, 5vw, 25px);
        }
    }
}

@media only screen and (min-device-width : $media-width-tablette){
    .main_about{
        gap: 60px;
        .container{
            background-color: rgb(14, 14, 14);
            border-radius: 0px 20px 20px 0px;
        }
        .container:nth-of-type(odd){
            border-radius: 20px 0px 0px 20px;
        }
        div{
            width: 97%;
            display: flex;
            flex-direction: row-reverse;
            background-color: rgba(255, 255, 255, 0);
            height: 350px;

            .wp-block-image img{
                border-radius: 20px;
                margin: 0px;
                width: 50vw;
                height: 330px;
            }
            figure{
                margin-left: 10px;
                
            }
            figure:nth-of-type(odd){
                margin-right: 10px;
            }
        }
        //class ajouter dans la data base
        .container_text{
            text-align:left;
            p{
                padding-left: 7%;
            }
        }
        .container_text:nth-of-type(even){
            padding-right: 5%;
        }
        .container:nth-of-type(odd){
            align-self: flex-end;
            flex-direction: row;
        }

    }
}