.main-accueil{
    overflow-x: hidden;
    width: 100vw;
    .leCarousel{
        margin-top : 10%;
    }
    .wp-block-site-logo{
        display: flex;
        justify-content: center;
        transform: translateX(-5px) translateY(-7px);
        a {
            img {
                opacity: 0%;
                animation-name: aniStatic;
                animation-duration: 0.5s;
                animation-delay: 2.5s;
                animation-fill-mode: forwards;
            }
        }
    }

    .description{
        position:relative;
        margin: 40px 0px;
        border-top: 4px solid $Button_Default_Color;
        border-bottom: 4px solid $Button_Default_Color;
        background-image: $Background_Container_Title;

        padding: 0px;
        text-align: center;
        width: 100vw;

        margin-bottom: 80px;
        div{

        
        p{
            width: 90vw;
            margin: 0px auto;
            margin-bottom: 10px;
            font-size: clamp(18px, 1.3vw, 50px);
        }
        p:first-of-type{
            padding-top: 20px;
        }
        .savoir_plus{
            transition: 0.3s;
            background-color: $Button_Default_Color;
            width: clamp(150px, 13vw, 400px);
            border-radius: 20px;
            padding: 5px 0px;

            transform: translateY(30px);
            a{
                text-decoration: none;
                color: white;
            }
        }
        .savoir_plus:hover{
            transform: scale(1.05) translateY(30px);
        }
        }
 
    }

    .title{
        display: none;
    }
    

.wp-block-cover__inner-container {   
    display: flex;
    justify-content: center;
    align-items: center; 


    .wp-block-image {
    position: absolute;
    animation-name: aniLogo;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    
        img {
        height: 100%;
        width: 100%;
        max-width: 776px;
        }
    }
}

    .is-layout-flex.wp-block-gallery-2.wp-block-gallery.has-nested-images.columns-6.is-cropped.container{
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0);
        figure.wp-block-image:not(#individual-image){
            width: 100vw;
            height: clamp(300px, 80vw, 300px);
        }
        .bouton_carousel{
            display: none;
        }
        figcaption{
            height: clamp(50px, 3vw, 300px);
            font-size: clamp(20px, 1.5vw, 40px);
            background-color: rgba(0, 0, 0, 0.582);
            a{
                text-decoration: none;
            }
        }
    }
}
@media only screen and (min-width : $media-width-tablette){
    .main-accueil{
        .is-layout-flex.wp-block-gallery-2.wp-block-gallery.has-nested-images.columns-6.is-cropped.container{
            display: flex;
            flex-direction: column;
            width: 150vw;
            height: clamp(250px, 25vw, 3000px);
            overflow-y: hidden;
            gap: 0px;
            margin: 0px;
            background-color: rgba(0, 0, 0, 0);
            padding-bottom: 0px;
            figure.wp-block-image:not(#individual-image){
                transition: 0.5s;
                width: 25vw;
                height: clamp(250px, 25vw, 3000px);
            }
            .bouton_carousel{
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;

                width: 4vw;

                cursor: pointer;
                transition: 0.2s;

                .material-symbols-outlined{
                    font-size: 2.5vw;
                }
            }
            .bouton_carousel:hover{
                background-color: rgba(0, 0, 0, 0.6);
            }
            .gauche{
                height: clamp(250px, 25vw, 3000px);
                left: 0px;
            }
            .droit{
                height: clamp(250px, 25vw, 3000px);
                right: 0px;
            }
        }
    }
}

/* Animation pour les logos */ 

@keyframes aniLogo {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        display: none;
    }
}

@keyframes aniStatic {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}