
.main_about {    
    display: flex;
    flex-direction: column;
    gap: 0px;
    .cover{ 
        margin: 0px;
        padding: 0px;
        width: 100%;
        div{
            background-color: transparent;
            display: flex;
            align-items: center;
            div{
                height: 25%;
            }
            img{
                max-width:100%;
                height:auto;
            }
        }
    }
    
    .wp-block-site-logo{
        display: flex;

        justify-content: center;

        margin: 0;
        padding: 0;
        
        width: 100%;
        height:100% ;

        background-color: transparent;

        a{
            width: 100vw;
            display: flex;
            justify-content: center;
            .custom-logo{
                border-radius: 0;
            }
        }
    }

    h2{
        position:relative;
        margin-bottom: 40px;
        border-top: 4px solid $Button_Default_Color;
        border-bottom: 4px solid $Button_Default_Color;
        background-color: $Background_Container_Title;

        padding: clamp(15px, 2vh, 30px);
        text-align: center;
        font-size: clamp(18px, 1.3vw, 50px);
    }
    
    div{
        // padding: 0px 20px;
        
        display: flex;
        flex-direction: column;
        height: clamp(150px, 30vw, 200px);

        figure{
            border: 1px solid white;
            display: flex;
            align-items: center;
            width: 100vw;
            height: 100%;

            img{
                object-fit: cover;
                margin: 0px;
                width: 100vw;
                height: clamp(150px, 30vw, 200px);
            }
        }

        &.container{
            padding-bottom: clamp(200px, 12vw, 250px);
        }
    }
    //class ajouté dans la data base
    .container_text{
        background-color: rgba(0, 0, 0, 0.274);
        position: absolute;
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        h3{
            height: 25px;
            // padding: 5px 0px;
            width: 100%;
            padding-top: 80px;
            margin: 0px auto;
            text-align: center;
            font-size: clamp(18px, 5vw, 60px);
        }
        p{
            position:relative;
            margin-top: clamp(30px, 15vw, 150px);
            font-size: clamp(18px, 1.3vw, 50px);
            text-align: center;
            display: none;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            padding: 0px 5%;
        }
        .bouton{
            cursor: pointer;
            width: 100vw;
            position: absolute;
            bottom: clamp(-170px, -26vw, -130px);
        }
    }
    .container_text:nth-of-type(even){
        padding-right: 0px;
    }

}

@media only screen and (min-width : $media-width-tablette){
    .main_about{  
        display: flex;
        gap: 30px;
        .bouton{
            display: none;
        }
        div{
            transition: 0.5s;
            width: 97%;
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 30px;
            background-color: $Background_Container;
            height: clamp(300px, 24vw, 450px);
            border-radius: 0px 20px 20px 0px;

            &:nth-of-type(odd){
                border-radius: 20px 0px 0px 20px;

            }
            .wp-block-image img{
                object-fit: cover;
                border-radius: 20px;
                margin: 0px;
                width: 50vw;
                height: clamp(280px, 23vw, 430px);
            }
            figure{
                margin-left: 10px;
                border: 0px solid white;
            }
            figure:nth-of-type(odd){
                margin-right: 10px;
            }
        }
        .container{
            background-color: $Background_Container ;
            
            &:nth-of-type(odd){
                transition: 0.5s;
                &:hover{
                    width: 100vw;
                    padding-left: 2%;
                }
            }
            &:nth-of-type(even){
                transition: 0.5s;
                &:hover{
                    width: 100vw;
                    padding-right: 2%;
                }

            }
        }
        //class ajouter dans la data base
        .container_text{
            background-color: rgba(0, 0, 0, 0);
            position: relative;
            text-align:left;
            p{
                margin-top: 0px;
                background-color: rgba(0, 0, 0, 0);
                padding-top: 0px;
                height: 100%;
                overflow: visible;
                text-align: left;
                padding-left: 6%;
                display: flex;
            }
            h3{
                margin: 0px 0px;
                position:static;
                height: 50px;
                padding: 10px 0px 30px 5.8%;
                color:$Button_Default_Color;
                background-color: rgba(0, 0, 0, 0);
                text-align: left;
                font-size: clamp(18px, 2vw, 60px);
            }
        }
        .container_text:nth-of-type(even){
            padding-right: 5%;
        }
        .container:nth-of-type(odd){
            align-self: flex-end;
            flex-direction: row;

        }

    }
}