.main_enseignants{

    .wp-block-site-logo{
        display: flex;
        justify-content: center;
    }

    .description{
        position:relative;
        margin: 40px 0px;
        border-top: 4px solid $Button_Default_color;
        border-bottom: 4px solid $Button_Default_color;
        background-color: $Background_Container_Title;

        padding: 0px;
        text-align: center;
        width: 100vw;

        margin-bottom: 80px;
        h2{
            color: $Button_Default_color;
        }
        p{
            width: 90vw;
            margin: 0px auto;
            margin-bottom: 10px;
            font-size: clamp(18px, 1.3vw, 50px);
        }
    }

}

    .container_prof{
        margin-bottom: 100px;
        display: flex;
        gap: 0px;
        padding-bottom: 0px;
        background-color: $Background_Container;
        div{
            width: 100vw;
            figure{
                margin: 0px auto;
                width: 75vw;
                height: 100vw;
                transform: translateY(-20px);
                
                img{
                    object-fit: cover;
                    width: 75vw;
                    height: 100vw;
                    border-radius: 40px;
                    border: 10px solid $Background_Container;
                }
            }
        }
        .container_text{
            text-align: center;
            width: 100vw;
            background-color: $Background_Container;
            padding-bottom: clamp(10px, 5vw, 30px);

            h3{
                font-size: clamp(18px, 1.8vw, 60px);
            }

            p{
                width: 90%;
                margin: 0px auto;
                font-size: clamp(18px, 1.3vw, 50px);
            }
        }
    }

@media only screen and (min-width : $media-width-tablette){
.main_enseignants{
    .description{
        margin-bottom: 150px;
    }
    .container_prof{
        margin-bottom: 150px;
        display: flex;
        flex-direction: row;
        width: 94vw;
        height: clamp(300px, 24vw, 450px);
        border-radius: 0px 20px 20px 0px;
        div{
            width: 20vw;
            figure{
                margin-left: 12%;
                width: clamp(350px, 30vw, 2000px);
                height: clamp(400px, 30vw, 550px);
                transform: translateY(-50px);
                img{
                    width: clamp(200px, 30vw, 2000px);
                    height: clamp(400px, 30vw, 550px);
                }
            }
        }

        .container_text{
            width: 45vw;
            text-align: left;
            border-radius: 20px;
            p{
                padding: 0px;
                margin: 0px;
            }
        }

    }
    .container_prof:nth-of-type(even){
        margin-left: auto;
        flex-direction: row-reverse;
        border-radius: 20px 0px 0px 20px;
        div{
            figure{
                margin-left: auto;
                margin-right: 12%;
                img{

                }
            }
        }
        .container_text{
            border-radius: 20px;
            h3{
                margin-left: 15px;
            }
            p{
                margin-left: 15px;
            }
        }
    }
}}

