body{
  position: relative;
  min-height: 100vh;

  background-image: url("images/bkg.png");
  color: $Font_Default_Color;
  overflow-x: hidden;
  font-family: sans-serif;

  main{
      padding-bottom: 200px;
  }

}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.801);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(206, 206, 206);    
  }