body{
    position: relative;
    min-height: 100vh;

    background-image: url("images/bkg.png");
    color: $Font_Default_color;
    overflow-x: hidden;
    font-family: sans-serif;

    main{
        padding-bottom: 200px;
    }
}