.footer{
    position:relative;
    top: 250px;

    width: 100vw;
    height: 250px;
    font-size: clamp(18px, 1.3vw, 50px);
    background-color: $Background_Container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}