.header{
    background-color: #2C212E;
    
}

.nav{
    font-size: 1.5vw;
    
}

@media only screen and (min-width : $media-width-tablette){
    .header{
        background-color: rgba(68, 4, 110, 0.25);
        
    }

    .nav{
      font-size: 1vw;
    }
}