.menu-header-container{
    /*ces valeur vont probablement changer entre les périphériques*/
    width: 100vw;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    #menu-header{
        list-style: none;

        width: 75%;

        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        .menu-item{
            
            width: 20%;
            display: flex;

            justify-content: center;
            align-items: center;

            a{
                /*ces couleurs seront à ajuster*/
                color: $Font_Default_color;
                text-decoration: none;
                &:hover{
                    color: $Font_Hover_Color;
                }
                &:active{
                    color: #04467c;
                }
            }

            &.sub-menu-container{
                position: relative;
                &:hover{
                    cursor: default;
                }

                #barre_1, #barre_2{
                    background-color: white;
                    width: 5%;
                    height: 2px;
                    border-radius: 10px;
                    padding: 0;
                    margin: 0;
                }

                #barre_1{
                    transform: rotateZ(45deg);
                    transition: transform 0.2s;

                    &.ouvert{
                        transform: rotateZ(-45deg);
                        transition: transform 0.2s;
                    }
                }

                #barre_2{
                    transform: rotateZ(-45deg);
                    transition: transform 0.2s;

                    &.ouvert{
                        transform: rotateZ(45deg);
                        transition: transform 0.2s;
                    }
                }
            }

            .sub-menu{
                position: absolute;
                top: 0px;

                height: 100px;
                width: 200px;

                padding: 0;
                margin: 0;
                transform: translateY(0px);

                transition: transform 0.2s;

                display: none;

                &.ouvert{
                    display: flex;
                    flex-direction: column;

                    justify-content: space-around;
                    align-items: center;

                    background-color: purple;

                    transform: translateY(50px);
                    transition: position 0.2s;    
                    
                    //reste a ajouter une animation
                    // voir https://stackoverflow.com/questions/8449933/how-to-transition-css-display-opacity-properties
                    
                }

                .menu-item{
                    width: 100%;
                }
            }
        }
    }
}