.menu-footer-container{
    width: 100%;
    

    #menu-footer{
        list-style:none;
        display: grid;

        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "accueil . about . cours"
            ". enseignants . projets ."
        ;

        row-gap: 25px;

        .menu-item{
            display: flex;
            justify-content: center;
            grid

            &:nth-child(1){
                grid-area: accueil;
            }

            &:nth-child(2){
                grid-area: about;
            }

            &:nth-child(3){
                grid-area: cours;
            }

            &:nth-child(4){
                grid-area: enseignants;
            }

            &:nth-child(5){
                grid-area: projets;
            }
            
            a{
                color: $Font_Default_Color;
                text-decoration: none;

                font-size: clamp(18px, 1.3vw, 50px);

                &:hover{
                    color: $Font_Hover_Color;
                }
            }
        }
    }
}